*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: auto;
}
nav{
    background-color: #02918c;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
nav .logo{
    width: 40%;
    text-align: left;
}
nav .manu{
    width: 60%;
    text-align: right;
}
nav ul li{
    display: inline-block;
}
.manu ul li a{
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    padding: 26px 25px;
    display: block;
}
#bannar{
    background-color: red;
    background-image: url(../MYFOLIO-Recovered.jpg);
    background-repeat: no-repeat;
    padding: 210px 0;
    background-size: cover;
    color: white;
    
}
.bannar-cnt {
 text-align: center;
}
.bannar-cnt h3{
    font-weight: 400;
    font-size: 30px;
}
.bannar-cnt h1{
    font-weight: 800;
    font-size: 64px;
    text-transform: uppercase;
    letter-spacing: 30px;

}
.bannar-cnt p{
    font-weight: 400;
    font-size: 18px;
}
.bannar-cnt img{
    display: block;
    margin: 50px auto;
}
.bannar-cnt a{
    background-color: #cfc91d;
    padding: 20px 43px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    color: #0b1016;
}
#about{
    padding: 98px 0;
}
.heading{
    text-align: center;
} .heading h2{
    font-weight: 800;
    font-size: 48px;
    color: #02918c;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.heading p{
    font-size: 16px;
    color: #7e8287;
}
#about .details{
    font-size: 16px;
    color:#a6a9ac;
    text-align: center;
    padding: 0 116px;
}
#about .details span{
    font-size: 23px;
    font-weight: 800;
    color: #7e8287;
}
#about .about_card span{
    font-size: 30px;
    color: #02918c;
}

#about .about_card{
    width: 25%;
    text-align: center;
    border-right: 1px solid #aaa;
    padding: 40px 0;
} 
#about .about_card:last-child{
    border: none;
}
#about .about_card h4{
    font-weight: 800;
    font-size: 16px;
    color: #7e8287;
    margin: 28px 0;
}
#about .about_card p{
    font-size: 11px;
    color: #7e8287;
    padding: 0 50px;
}
#work .work_card{
    width: 25%;
    position: relative;
}
#work .work_card img{
    width: 100%;
    display: block;

}
.work_card .overlay{
    background-color: #02918c7e;
    position: absolute;
    inset: 50px;
    color: white;
    text-align: center;
    padding: 50px 0;
    opacity: 0;
    margin-top: 100px;
    transition: 0.35s;
}
.work_card:hover .overlay{
    opacity: 1;
    margin-top: 0px;
}



.row{
    display: flex;
    flex-wrap: wrap;
}
